body {
  font-family: serif;
  font-size: medium;
  background-color: white;
  color: black;
  padding-bottom: 60px;
}

h1, h2, h3, h4 { font-weight: bold; clear: both; }
h1, h2, h3, h4, .navigation { font-family: sans-serif; }
h1 { font-size: x-large; }
h2 { font-size: large; }
h3 { font-size: medium; }

a:link { text-decoration: underline; color: black; }
a:visited { color: #5b1508; }
a:link:hover { color: #ab2e12; }
a:link img { border: none; }

.variablelist table { padding: 4px; margin-left: 3em; }
.programlisting, .synopsis {
  font-size: 90%;
  background-color: #fdf3df;
  padding: 0.5em;
  margin: 0px;
  border: 0px;
}
.listing_lines {
  font-size: 90%;
  background-color: #a0a0a0;
  color: #ffffff;
  font-weight: bold;
  width: 2.5em;
}
.listing_code {
  background-color: #fdf3df;
}
.listing_lines pre {
  padding: 0.5em;
  margin: 0px;
  border: 0px;
}
.listing_lines, .listing_code {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.listing_frame {
  width: 100%;
  padding: 0px;
}
.variablelist td:first-child { vertical-align: top; }
/* this is needed so that the local anchors are displayed below the navigation */
div.refnamediv a[name], div.refsect1 a[name]
{
  position: relative;
  top: -4.5em;
}
table.navigation#top
{
  background-color: #f6cd7a;
  border-bottom: solid 1px #ab2f11;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 2em;
  z-index: 1;
}
.navigation a { color: #770000; }
.navigation a:visited { color: #550000; }
.navigation .title { font-size: 160%; padding: 0.2ex; }
td.shortcuts { color: #770000; font-size: 80%; }

div.refentry, div.chapter, div.part, div.book, div.index, div.glossary, div.sect1, div.appendix, div.preface
{
  position: relative;
  top: 3em;
  z-index: 0;
}
div.footer {
  margin-top: 3em;
  font-style: italic;
  text-align: right;
  font-size: small;
}
div.refnamediv { margin-top: 2em; }
div.gallery-float { float: left; padding: 10px; }
div.gallery-float img { border-style: none; }
div.gallery-spacer { clear: both; }
div.table table
{
  border-collapse: collapse;
  border-spacing: 0px;
  border-style: solid;
  border-color: #777777;
  border-width: 1px;
}

div.table table td, div.table table th
{
  border-style: solid;
  border-color: #777777;
  border-width: 1px;
  padding: 3px;
  vertical-align: top;
}

.programlisting .cbracket   { color: #a40000; }
.programlisting .comment    { color: #a0a0a0; }
.programlisting .function   { color: #000000; }
.programlisting .function a { color: #11326b; }
.programlisting .keyword    { color: #5b1508; font-weight: bold; }
.programlisting .linenum    { color: #ffffff; font-weight: bold; }
.programlisting .number     { color: #a00000; }
.programlisting .preproc    { color: #204a87; }
.programlisting .string     { color: #a00000; }
.programlisting .type       { color: #008000; font-weight: bold; }
.programlisting .type a     { color: #008000; }
.programlisting .symbol     { color: #ce5c00; }

div.table table th { background-color: #eeeeee; }
hr { visibility: collapse; display: none; }
