[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gwyddion
Comment=SPM data visualization and analysis
Comment[cs]=Vizualizace a analýza SPM dat
TryExec=gwyddion
Exec=gwyddion %F
Icon=gwyddion.png
MimeType=application/x-gwyddion-spm;application/x-sis-spm;application/x-nt-mdt-spm;application/x-nanoscope-spm
Terminal=false
StartupNotify=true
Categories=Application;GTK;Physics;Science;
