[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gwyddion
Comment=SPM data visualization and analysis
Comment[cs]=Vizualizace a analýza SPM dat
TryExec=gwyddion
Exec=gwyddion --remote-new %F
Icon=gwyddion.png
MimeType=application/x-bcr-spm;application/x-bcrf-spm;application/x-createc-spm;application/x-dme-spm;application/x-nanosurf-spm;application/x-gwyddion-spm;application/x-hitachi-spm;application/x-jpk-spm;application/x-zygo-spm;application/x-mi-spm;application/x-nanonis-spm;application/x-nanoscope-ii-spm;application/x-nanoscope-iii-spm;application/x-nt-mdt-spm;application/x-pni-spm;application/x-rhk-sm3-spm;application/x-rhk-sm2-spm;application/x-seiko-spm;application/x-sis-spm;application/x-spml-spm;application/x-spmlab-spm;application/x-stp-spm;application/x-surf-spm;application/x-unisoku-spm;application/x-witec-spm;application/x-wsxm-spm
Terminal=false
StartupNotify=true
Categories=GTK;Physics;Science;Engineering;RasterGraphics;2DGraphics;Graphics
